/fpga/impl
/TangGBAFlasher/TGBAFlasher/obj
/TangGBAFlasher/TGBAFlasher/bin/Debug/net8.0-windows
/TangGBAFlasher/.vs/TangGBAFlasher/v17
/TangGBAFlasher/.vs/TangGBAFlasher/FileContentIndex
/TangGBAFlasher/.vs/TangGBAFlasher/DesignTimeBuild
/TangGBAFlasher/.vs/ProjectEvaluation
/TangGBAFlasher/TGBAFlasher/bin/Release/net8.0-windows/win-x64
