//Copyright (C)2023 Davide 'PeevishDave' Barbieri 

IO_LOC "pin_gbaAddressHi[7]" 86;
IO_PORT "pin_gbaAddressHi[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaAddressHi[6]" 79;
IO_PORT "pin_gbaAddressHi[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaAddressHi[5]" 72;
IO_PORT "pin_gbaAddressHi[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaAddressHi[4]" 71;
IO_PORT "pin_gbaAddressHi[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaAddressHi[3]" 53;
IO_PORT "pin_gbaAddressHi[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaAddressHi[2]" 52;
IO_PORT "pin_gbaAddressHi[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaAddressHi[1]" 73;
IO_PORT "pin_gbaAddressHi[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaAddressHi[0]" 74;
IO_PORT "pin_gbaAddressHi[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[15]" 75;
IO_PORT "pin_gbaDataAddressLo[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[14]" 85;
IO_PORT "pin_gbaDataAddressLo[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[13]" 77;
IO_PORT "pin_gbaDataAddressLo[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[12]" 15;
IO_PORT "pin_gbaDataAddressLo[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[11]" 16;
IO_PORT "pin_gbaDataAddressLo[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[10]" 27;
IO_PORT "pin_gbaDataAddressLo[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[9]" 28;
IO_PORT "pin_gbaDataAddressLo[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[8]" 25;
IO_PORT "pin_gbaDataAddressLo[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[7]" 26;
IO_PORT "pin_gbaDataAddressLo[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[6]" 29;
IO_PORT "pin_gbaDataAddressLo[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[5]" 30;
IO_PORT "pin_gbaDataAddressLo[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[4]" 31;
IO_PORT "pin_gbaDataAddressLo[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[3]" 17;
IO_PORT "pin_gbaDataAddressLo[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[2]" 20;
IO_PORT "pin_gbaDataAddressLo[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[1]" 19;
IO_PORT "pin_gbaDataAddressLo[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaDataAddressLo[0]" 18;
IO_PORT "pin_gbaDataAddressLo[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaWR" 51;
IO_PORT "pin_gbaWR" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaRD" 48;
IO_PORT "pin_gbaRD" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaCS" 55;
IO_PORT "pin_gbaCS" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaCS2" 49;
IO_PORT "pin_gbaCS2" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_gbaPHY" 41;
IO_PORT "pin_gbaPHY" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_uart_tx" 69;
IO_PORT "pin_uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "pin_uart_rx" 70;
IO_PORT "pin_uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "pin_clk" 4;
IO_PORT "pin_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
